.DS_Store
.vscode/
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
.env
.env.local
custom.css
docker-compose.yml
static/icons/
static/images/logo.*
static/custom.css
