* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    margin: 0 auto;
    overflow-x: hidden;
}
pre > code {
    line-height: 1 !important;
}

.comment-body a, .post-preview a {
    font-weight: normal;
    color: var(--link-color);
}

.navbar a, .topnav a, .post-title a, .sidebar a {
    color:  var(--link-color);
}

.navbar button {
    background-color: var(--link-color);
    border-color: var(--link-color);
}

.post-detail a {
    color: var(--muted-color);
}

code {
    white-space: pre-wrap !important;
}