* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    margin: 0 auto;
}

.comment-body a, .post-preview a {
    font-weight: normal;
    color: #147b50;
}

.navbar a, .topnav a, .post-title a, .sidebar a {
    color:  #147b50;
}

.navbar button {
    background-color: #147b50;
    border-color: #147b50;
}

.post-detail a {
    color: #95afa4;
}

code {
    white-space: pre-wrap !important;
}